<div class="container">
   <div class="info">
       <h1>CONTACT</h1>
       <p class="description" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam aut quas ut voluptas voluptatibus voluptates voluptate repudiandae explicabo, alias officia non velit harum sint, iusto vitae delectus ex modi nostrum!</p>

       <div class="details">
           <div class="detail">
               <h3>Address</h3>
                <p>Accra, Ghana</p>
           </div>
           <div class="detail">
               <h3>Phone</h3>
                <p>+233 (0) 24 240 7403</p>
           </div>
           <div class="detail">
               <h3>E-mail</h3>
                <p>sowusuaboagye@gmail.com</p>
           </div>
       </div>
   </div>

   <div class="contact-box">
       <h1>CONTACT FORM</h1>

       <form>
        <div class="inputBox">
            <input type="text" name="firstname" required="">
            <label for="">Your Name</label>
        </div>
        <div class="inputBox">
            <input type="text" name="surname" required="">
            <label for="">Your phone number</label>
        </div>
        
        <div class="inputBox">
            <input type="text" name="email" required="">
            <label for="">Your Email address</label>
        </div>
        <div class="inputBox">
            <input type="text" name="phone_number" required="">
            <label for="">Message</label>
        </div>

       
    </form>

       <button>SEND MESSAGE</button>
   </div>
</div>
